/** BASE - RAINAT
===================================*/
$ratio-16-9: (9%/16%*100%);
$ratio-4-3: (3%/4%*100%);
$ratio-1-1: (100%);

%ratio-16-9{padding-bottom: $ratio-16-9;}
%ratio-4-3{padding-bottom: $ratio-4-3;}
%ratio-1-1{padding-bottom: $ratio-1-1;}

.col2-layout{
	position: relative;
  	margin-bottom: 20px;
  	width: 100%;

  	&:before, &:after{
  		content: '';
  		display: table;
  	}

  	&:after{
  		clear: both;
  	}
  	@media screen and (min-width: 992px){ 
    	width: 50%;
    	float: left;
    	padding: 0 15px;
    	margin-bottom: 0;
  	}
}

.title-md{
	font-size: 1.5em;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	margin: 0;
	margin-bottom: 2em;
	color: #000000;
	font-weight: 700;
}


a{
	&:hover{

		color: #57ae75;
	}
}

.clearfix{
	before, .clearfix:after {
	  content: " ";
	  display: table;
	}
	&:after {
  		clear: both;
	}
}

.btn-center{
	text-align: center;
}

.GreenButton{
	text-transform: uppercase;
}
.GreenButton-add{
	  background: none;
	  border: none;
	  padding: 0.75em 1em;
	  @include inline-block();
	  text-transform: uppercase;
	  background: #5DAB77;
	  letter-spacing: 0.1em;
	  @include prefixed(transition, all 0.2s ease);
	  text-decoration: none;
	  color: white;
	  font-size: 16px;
	  &:hover{
	  	 @include box-shadow(inset 0 0 0 2px #5DAB77);
	  	 background: white;
	  	 text-decoration: none;
	  	 color: #57ae75;;
	  }
}


/** BEST SELLER SECTION - RAINAT
===================================*/

.best-seller{
	padding: 60px 0;
	overflow: hidden;

	.title-md{
		text-align: center;
		display: none;
		@media screen and(min-width: 39em){
			display: block;
		}
	}
	
	.btn-left, .btn-right{
		text-align: center;
	}
	@media screen and(min-width: 39em){
		.btn-left{text-align: left;}
		.btn-right{text-align: right;}
	}

}
.bselWrap__title{
	text-align: center;
	font-weight: 300;
	font-size: 1.2em;
	text-transform: uppercase;
	border-bottom : 1px solid #959595;
	padding-bottom: 25px;
	margin: 0;
	margin-bottom: 40px;
	@media screen and(min-width: 39em){
		padding-bottom: 43px;
	}
}

.bselWrap{
	overflow: hidden;
	@media screen and(max-width: 39em){
		margin-bottom: 35px;
	}

	a{
		text-decoration: none;
		color: black;
		@include prefixed(transition, all 0.3s linear);
		&:hover{
			color: #57ae75;
		}
	}
	text-align: center;
	figure{
		margin-bottom: $pixel * 2;
	}

	ul{
		@media screen and(min-width: 39em){
			@include min-height(300px); 
		}
		
	}
	li{
		float: left;
		width: 33%;
		margin-bottom: 30px;

  		@media screen and(min-width: 39em){
			padding: 0 10px;
			margin-bottom: 10px;

  		}
	}

	.GreenButton-add{
		margin: 10px 15px;
		@include min-width(290px);
		color: white;
		text-align: center;
	}

	.title-md{
		font-size: 1.2em;
		margin-bottom: 35px;
		display: block;
		@media screen and(min-width: 39em){
			display: none;
		}
	}
}

.bselWrap__desc{
	h5{
		font-size: 16px;
		font-weight: 700;
		margin: 0;
		line-height: 1.4em;
		text-transform: uppercase;
	}
}


/** SLIDER
===================================*/
.Slide {
	.GreyButton, .GreenButton{
		min-width: 180px;
	}
}
@import "vendor/bxslider";


/** SUBSCRIBE
===================================*/
.cms-home .subscribeHome{
	text-align: center;
	  padding: 36px 0px 25px;
	  background-color: white;
	.btn-subscribe, .subscribe-label, .form-group{
		@include inline-block();
		vertical-align: top;
	}
	.btn-left{
		text-align: left;
	}
	.btn-right{
		text-align: right;
	}

	.subscribe-label{
		font-weight: 700;
		text-transform: uppercase;
		margin-right: 20px;

		@media screen and (max-width: 42em){
			margin-bottom: 20px;
		}
	}

	.form-controls{
		height: 33px;
		  border: 1px solid #cfcfcf;
		@include box-shadow(inset 2px 2px 1px 1px #DDDDDD);
		margin: 2px 7px 0;
		height: 36px;
		width: 195px;

		@media screen and (max-width: 38em){
			margin-bottom: 18px;
		}
		
		@include input-placeholder {
    		color: #bfbfbf;
    		font-style: normal;
    		text-align: center;
    		letter-spacing: 0;
  		}
	}

	.btn-subscribe{
		background: none;
		border: none;
		font-size: 16px;
		text-transform: uppercase;
		font-weight: 700;
		color: white;
	}
}