/** SUBSCRIBE PAGE
===================================*/
.cms-subscribev2, .cms-subscribe{
	#IntroImage.SubscriptionPlans_2 {
	  background-image: image-url('subscription-plans.jpg');
	  background-size: 100%;
	  @include min-height(485px);
	  font-size: 16px;
	  background-size: cover;

	   .SubscriptionPlans__cap{
	   		max-width: 725px;
	   		margin:0 auto;
	   		

	   		@media screen and (min-width: 350px){
	   			padding-top: 8%;
	   		}

			.inner{
				padding: 25px;
				word-wrap: break-word;
				

				@media screen and (max-width: 1199px){
					background: rgba(#ffffff, 0.6) !important;
					border: 4px solid rgba(#ffffff, 0.8);
				}
			}

			@media screen and (min-width: 1199px){
				padding-top: 185px;
			}
	   }

		h1 {
			text-transform: none;
			padding-top: 0 !important;
			color: #000;
			margin-bottom: 0.35em;
			display: block;
			font-size: 33px;
			font-weight: 700;
			margin: 0;
			margin-bottom: 10px;
			line-height: 1em;
			@media screen and (min-width: 769px){
				font-size: 62px;
			}
		}

		 .tagline {
			  text-transform: none;
			  color: #000;
			  margin-bottom: 20px;
			  letter-spacing: none;
			  line-height: 1.4em;
			  font-weight: 400;
			  font-size: 18px;
		}

		.GreenButton-add{
			margin: 0 12px 15px;
			font-size: 13px;
			@media screen and (min-width: 769px){
				font-size: 16px;
			}
		}
	 }

	 .SubscriptionPlans__adv{
	 	text-align: center;
	 	margin-top: 35px;
	 	ul{
	 		li{
	 			@include inline-block();
	 			background: image-url('icon_check.png') left top no-repeat;
	 			background-size: 19px auto;
	 			padding-left: 24px;
	 			color: #60605e;
	 			font-size: 15px;
	 			text-transform: uppercase;
	 			font-weight: 700;
	 			margin-bottom: 18px;
	 			letter-spacing: 0;

	 			@media screen and (min-width: 769px){
					margin: 0 2% !important;
				}
	 		}
	 	}
	 }
 }


 /** FRESHPOD SECTION
 ===================================*/
 .cms-subscribev2, .cms-subscribe{
 	#IntroImage.FreshPod {
		background: #e7e7e7;
		@include min-height(325px);
		margin-top: 1em;
		font-size: 16px;
		text-transform: none;
		letter-spacing: 0;
		color: black;
		text-align: center;

		h1{
			padding-top: 0 !important;
			font-weight: 700;
			font-size: 28px;
			line-height: 1.3em;
			margin-bottom: 10px;
		}

		.tagline{
			font-size: 20px;
			line-height: 1.4em;
		}

		.FreshPods__desc{
			max-width: 675px;
			margin: 2% auto;
			position: relative;
			&:before, &:after{
				content: '';
				position: absolute;
				width: 273px;
				height: 308px;
				top: 0;
			}

			&:before{
				left: 0;
				right: auto;
				background: image-url('freshpod_thumbLt.jpg') 0 0 no-repeat;	
			}
			&:after{
				left:auto;
				right: 0;
				background: image-url('freshpod_thumbRt.jpg') 0 0 no-repeat;
			}
		}
	}
 }