<div id="main" role="main" class="cms-home" >
	<div class="container">
		<div class="best-seller">
			<h2 class="title-md">best sellers</h2>
			<div class="col2-layout bselWrap">
				<h2 class="title-md">best sellers</h2>
				<h3 class="bselWrap__title">FOR nespresso</h3>
				<ul>
					<li>
						<a href="#">
							<figure><img src="{{assetsimg}}/nesspreso1.jpg" alt=""></figure>
							<div class="bselWrap__desc">
								<h5>wall street</h5>
								<span clas="bsell-price">$0.59 / POD</span>
							</div>
						</a>
					</li>
					<li>
						<a href="#">
							<figure><img src="{{assetsimg}}/nesspreso2.jpg" alt=""></figure>
							<div class="bselWrap__desc">
								<h5>time square</h5>
								<span clas="bsell-price">$0.59 / POD</span>
							</div>
						</a>
					</li>
					<li>
						<a href="#">
							<figure><img src="{{assetsimg}}/nesspreso3.jpg" alt=""></figure>
							<div class="bselWrap__desc">
								<h5>brooklyn</h5>
								<span clas="bsell-price">$0.59 / POD</span>
							</div>
						</a>
					</li>
				</ul>
				<div class="clearfix"></div>
				<div class="btn-right">
                    <a href="#" class="GreenButton-add">Plans for Nespresso</a>
                </div>
			</div>

			<div class="col2-layout bselWrap">
				<h2 class="title-md">best sellers</h2>
				<h3 class="bselWrap__title">for keurig</h3>
				<ul>
					<li>
						<a href="#">
							<figure><img src="{{assetsimg}}/keurig1.jpg" alt=""></figure>
							<div class="bselWrap__desc">
								<h5>donut truck</h5>
								<span clas="bsell-price">$0.59 / POD</span>
							</div>
						</a>
					</li>
					<li>
						<a href="#">
							<figure><img src="{{assetsimg}}/keurig2.jpg" alt=""></figure>
							<div class="bselWrap__desc">
								<h5>fifth ave</h5>
								<span clas="bsell-price">$0.59 / POD</span>
							</div>
						</a>
					</li>
					<li>
						<a href="#">
							<figure><img src="{{assetsimg}}/keurig3.jpg" alt=""></figure>
							<div class="bselWrap__desc">
								<h5>stock exchange</h5>
								<span clas="bsell-price">$0.59 / POD</span>
							</div>
						</a>
					</li>
				</ul>
				<div class="clearfix"></div>
                <div class="btn-left">
                    <a href="#" class="GreenButton-add">Plans for Keurig</a>
                </div>
			</div>
		</div><!-- // best-seller -->
	

		<div class="subscribeHome">
			<form>
				<span class="subscribe-label">sign up for our emails <br>and get 10% off!</span>
				<div class="form-group">
					<input type="text" name="" class="form-controls" placeholder="Enter Your Email">
					<input type="text" name="" class="form-controls" placeholder="Confirm Your Email">
				</div>
				<input type="submit" value="submit > " class="btn-subscribe">
			</form>
		</div><!-- //subscribeHome -->
	</div>
</div> <!-- //MAIN -->
  