<div id="main" role="main" >
	<div class="container">
		<div id="Slides">
			<ul class="bxslider">
				<li>
					<div class="Slide" id="Slide2">
						<div class="SlideCopy">
							<strong>Drink fresh coffee</strong>
							<small>The freshest pods for Keurig and Nespresso <br>
							delivered to your door. </small>
							<a class="GreyButton" href="https://www.hilinecoffee.com/shop">Shop</a>
							<a class="GreenButton" href="https://www.hilinecoffee.com/subscribe">Subscribe</a>
						</div>
						<p id="NewDisclaimer">HiLine Coffee is not endorsed, sponsored, licensed or approved by Nespresso or any of its affiliates. Nespresso® is a registered trademark of Societe des Produits Nestle S.A.</p>
						<img class="BeautyPlaceholder" src="https://store-static.hilinecoffee.com/blogs/news/wp-content/uploads/hp_beauty_placeholder.gif" alt="placeholder">
					</div>
				</li>

				<li>
					<div class="Slide" id="Slide1">
						<div class="SlideCopy">
							<strong>Why fresh?</strong>
							<small>Fresh coffee tastes better.<br>
							Pods sold in stores were roasted months ago.<br>
							We roast right before shipping.</small>
							<a class="GreyButton" href="https://www.hilinecoffee.com/shop">Shop</a>
							<a class="GreenButton" href="https://www.hilinecoffee.com/subscribe">Subscribe</a> 
						</div>
						<img class="BeautyPlaceholder" src="https://store-static.hilinecoffee.com/blogs/news/wp-content/uploads/hp_beauty_placeholder.gif" alt="placeholder">
					</div>
				</li>

				<li>
					<div class="Slide" id="Slide4">
						<div class="SlideCopy">
							<strong>How it works</strong>
							<small>Select your coffee maker and favorite roasts.<br>
							We’ll ship them right to your door!</small>
							<a class="GreyButton" href="https://www.hilinecoffee.com/shop">Shop</a>
							<a class="GreenButton" href="https://www.hilinecoffee.com/subscribe">Subscribe</a>
						</div>
						<img class="BeautyPlaceholder" src="https://store-static.hilinecoffee.com/blogs/news/wp-content/uploads/hp_beauty_placeholder.gif" alt="placeholder">
					</div>
				</li>

				<li>
					<div class="Slide" id="Slide3">
						<div class="SlideCopy">
							<strong>Made in New York</strong>
							<small>We are a boutique New York roaster.<br>
							Outstanding coffees for discerning customers.</small>
							<a class="GreyButton" href="https://www.hilinecoffee.com/shop">Shop</a>
							<a class="GreenButton" href="https://www.hilinecoffee.com/subscribe">Subscribe</a>
						</div>
						<img class="BeautyPlaceholder" src="https://store-static.hilinecoffee.com/blogs/news/wp-content/uploads/hp_beauty_placeholder.gif" alt="placeholder">
					</div>
				</li>
			</ul>
		</div><!-- //Slides -->
		<br><br>
	</div>
</div> <!-- //MAIN -->
  