<div id="main" role="main" class="cms-subscribe" >
	<div class="container">
		<div id="IntroImage" class="SubscriptionPlans_2">
			<div class="SubscriptionPlans__cap">
				<div class="inner">
					<h1>Subscription Plans</h1>
					<div class="tagline">Fresh coffee pods delivered monthly. Never run out of coffee again.</div>
					<div class="action">
						<a href="#" class="GreenButton-add">Plans for Nespresso</a>
						<a href="#" class="GreenButton-add">Plans for Keurig</a>
					</div>

					<div class="SubscriptionPlans__adv">
						<ul>
							<li>NO COMMITMENT</li>
							<li>SAVE 10% AUTOMATICALLY</li>
							<li>FREE SHIPPING. ALWAYS</li>
						</ul>
					</div>
				</div>
			</div> <!-- //SubscriptionPlans__cap -->
		</div><!-- //IntroImage -->


		<div id="IntroImage" class="FreshPod">
			<div class="FreshPods__desc">
				<h1>Fresh Coffee Pods Taste Better</h1>
				<div class="tagline">The pods sold in grocery stores were roasted months ago. We roast right before shipping, so your coffee is always fresh, aromatic and strong!</div>
				<div class="action">
						<a href="#" class="GreenButton-add">Plans for Nespresso</a>
						<a href="#" class="GreenButton-add">Plans for Keurig</a>
				</div>
			</div>
		</div>
	</div>
</div> <!-- //MAIN -->
  